<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link media="all" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
    body {
      margin:0px;
      padding:0px;
    }
    h1 a,h1 a:hover,h1 a:visited{color:#fff}
    h1 small a{font-size:14px;}
  #custom-search-input {
      margin:0;
      margin-top: 10px;
      padding: 0;
  }

  #custom-search-input .search-query {
      padding-right: 3px;
      padding-right: 4px \9;
      padding-left: 3px;
      padding-left: 4px \9;
      /* IE7-8 doesn't have border-radius, so don't indent the padding */

      margin-bottom: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  #custom-search-input button {
      border: 0;
      background: none;
      /** belows styles are working good */
      padding: 2px 5px;
      margin-top: 2px;
      position: relative;
      left: -28px;
      /* IE7-8 doesn't have border-radius, so don't indent the padding */
      margin-bottom: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color:#D9230F;
  }

  .search-query:focus + button {
      z-index: 3;
  }


    </style>
  </head>
  <body>
  <div class="container">
  	<div class="row">
        <form action="search" method="post" id="frmSearch">
          <div id="custom-search-input">
             <div class="input-group col-md-12">
                 <input type="text" name="search" class="search-query form-control" placeholder="Search" value="<%- search%>" />
                 <span class="input-group-btn">
                     <button class="btn btn-danger" type="button">
                         <span class="fa fa-search"></span>
                     </button>
                 </span>
             </div>
         </div>
        </form>
  	</div>
  </div>
<br><hr><br>
  <div class="" id="results">
    <%if(filter){%>
    <%if(filter.length==0){%>
      <div class="text-center"><h1>No Results Found</h1></div>
    <%}%>
    <%}%>
    <%for(var i=0;i<projects.length;i++){%>
      <%if(filter===null){%>
        <h1 class="text-center" style="background:#000;color:#fff;font-size:35px;padding:20px;margin:0px;"><a href="/folder/<%- projects[i].folder %>"><%- projects[i].folder %></a> <div class="pull-right"><small><a target="_blank" href="<%- projects[i].html[0].replace(staticpath,'')%>">View Page</a></small></div></h1>
        <%if(projects[i].screenshots.length==1){%>
        <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="100%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
        <%}else if(projects[i].screenshots.length==2){%>
          <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="50%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
          <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="50%" src="<%- projects[i].screenshots[1].replace(staticpath+'/gallery','')%>"></a>
        <%}else{%>
          <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="100%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
          <%for(var s=1;s<projects[i].screenshots.length;s++){%>
            <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="<%- 100/(projects[i].screenshots.length-1)%>%" src="<%- projects[i].screenshots[s].replace(staticpath+'/gallery','')%>"></a>
          <%}%>
        <%}%>
        <div class="clearfix"></div>
      <%}else{%>
        <%for(var f=0;f<filter.length;f++){%>
          <%if(filter[f]===projects[i].folder.toString()){%>
            <%for(var s=0;s<projects[i].screenshots.length;s++){%>
              <h1 class="text-center" style="background:#000;color:#fff;font-size:35px;padding:20px;margin:0px;"><a href="/folder/<%- projects[i].folder %>"><%- projects[i].folder %></a> <div class="pull-right"><small><a target="_blank" href="<%- projects[i].html[0].replace(staticpath,'')%>">View Page</a></small></div></h1>
              <%if(projects[i].screenshots.length==1){%>
              <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="100%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
              <%}else if(projects[i].screenshots.length==2){%>
                <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="50%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
                <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="50%" src="<%- projects[i].screenshots[1].replace(staticpath+'/gallery','')%>"></a>
              <%}else{%>
                <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="100%" src="<%- projects[i].screenshots[0].replace(staticpath+'/gallery','')%>"></a>
                <%for(var s=1;s<projects[i].screenshots.length;s++){%>
                  <a target="_blank" href="/folder/<%- projects[i].folder %>"><img class="pull-left" width="<%- 100/(projects[i].screenshots.length-1)%>%" src="<%- projects[i].screenshots[s].replace(staticpath+'/gallery','')%>"></a>
                <%}%>
              <%}%>
              <div class="clearfix"></div>
            <%}%>
          <%}%>
        <%}%>
      <%}%>
    <%}%>
  </div>

  <!-- INSERT CODE -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
  });
  </script>
  </body>
</html>
